SA_PASSWORD=P@ssw0rd_Admin!
MSSQL_PID=Developer
FOLDER_STORE_GGCE=/mnt/cimmyt-ggce
USER_DB=cimmyt_ggce
PASSWORD_DB=P@ssw0rd_GGCE!
DB_NAME=ggce_database
#FRONTEND_URL=https://your-url.example.com
#API_URL=https://api.your-url.example.com
#LETSENCRYPT_EMAIL=your-email@valid.com
FRONTEND_URL=ubuntu-ggce-dev.org
API_URL=ubuntu-ggce-dev-api.org
LETSENCRYPT_EMAIL=cloudspaba@gmail.com
MEMORY_LIMIT_MSSQL=4g
MEMORY_LIMIT_API=4g
MEMORY_LIMIT_UI=500m
GG_CE_API_VERSION=2025.1.0
GG_CE_UI_VERSION=2025.1.0
