SA_PASSWORD=P@ssw0rd_Admin!
MSSQL_PID=Developer
FOLDER_STORE_GGCE=/mnt/cimmyt-ggce
USER_DB=cimmyt_ggce
PASSWORD_DB=P@ssw0rd_GGCE!
DB_NAME=ggce_database

FRONTEND_URL=ggce.local
API_URL=ggceapi.local

NAME_GGCE_APLICATION=Genebank Information System 
NAME_GGCE_APLICATION_SORT=Demo

MEMORY_LIMIT_MSSQL=4g
MEMORY_LIMIT_API=4g
MEMORY_LIMIT_UI=500m
GG_CE_API_VERSION=2025.1.0
GG_CE_UI_VERSION=2025.1.0
